.team {
    background-color: var(--light-background-color);
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
    margin-right: 30px;
}
}

.team-title {
    @extend %title-list;
}

.team-img {
    margin-bottom: 30px;
}

.team-second-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-title-color);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team-soc-list {
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.team-soc-item +.team-soc-item{
    margin-left: 10px;
}


.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @extend %align-list;
    justify-content: center;
    background-color: var(--main-background-color); 
    color:var(--color-icon);
    transition: background-color var(--main-transition-duration) var(--main-transition-timing),
    color var(--main-transition-duration) var(--main-transition-timing);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
}
}

.team-soc-icon{
    fill:currentColor;
    
}