%align-list {
    display: flex;
    align-items: center;
}

%title-list {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-title-color);
    margin-bottom: 50px;
}
